#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px #aaa;
}

#map {
    height: 2000px;
    width: 100%;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(195, 195, 195);
}